<h1>Flickr Photo Stream</h1>
<% unless @photostream.blank? then %>
	<h2><%=@photostream.title%></h2>
	<div class="items">
	<% @items.each do |item| %>
		<div class="item">
			
			<%=image_tag(item.media["m"]) %>
			<div class="byline"><%=link_to item.title, item.link%> by <%=link_to item.short_author, item.author_id %></div>
		</div>
	<% end %>
	</div>
<% else %>
	<h2>Unable to load photostream</h2>
<% end %>