// Place all the styles related to the PhotoItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item {
	position: relative;
	float: left;
	width: 300px;
	margin: 3%;
	background-color: white;

	img {
		display: block;
		margin: 3%;
		margin-left:auto;
		margin-right:auto;
	}
}

.items {
	position: absolute;
	background-color: #ececec;
	
}