// Place all the styles related to the PhotoItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.grid-item { width: 300px; }

.item {
	position: relative;
	float: left;
	width: 300px;
	margin: 2%;
	background-color: white;

	img {
		display: block;
		margin: 3%;
		margin-left:auto;
		margin-right:auto;
	}
}

.items {
	width: 100%;
	position: absolute;
	background-color: #ececec;
	
}

.grid {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}